* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-slider {
  width: 100vw;
  height: 100vh;
 background-image: url(./images/main\ ..png);
  background-size: cover;
  position: relative;
}
.nav .next,.nav .prev {
  position: absolute;
  height: 4rem;
  width: 4rem;
  stroke: #ffffff;
  cursor: pointer;
  z-index: 3;
  pointer-events: auto;
}
.nav .next {
  bottom: 4rem;
  right: 4rem;
  transform: scale(2) rotate(180deg);
}
.nav .prev {
  top: 4rem;
  left: 4rem;
  transform: scale(2);
}
.card-slider .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}
.card-slider .item.is-active {
  pointer-events: auto;
}
.card-slider .item .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: "Melodrama";
  font-size: 10vw;
  font-weight: 900;
  color: #222222;
  text-transform: uppercase;
  line-height: 1.5;
}
.card-slider .item .title span {
  display: inline-block;
  white-space: nowrap;
}
.card-slider .item .title .letter {
  display: inline-block;
}
.card {
  height: 600px;
  width: 500px;
  position: relative;
}
.card img {
  width: 100%;
  object-fit: contain;
  opacity: 1;
}
.card .card-bg {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: all 2s cubic-bezier(0.86, 0, 0.07, 1);
}
.card.is-active .card-bg {
  transform: scale(1);
}
@media (max-width: 900px) {
  .card-slider .item .title {
    font-size: 17vw;
  }
}